%h1 Stocks#rate
= form_tag(:controller => "stocks", :action => "rate", :method => "get") do
  %p
  =label_tag(:stocks, "stock symbols to rate")
  = text_area_tag(:stocks, @stocks)
  %p= select_tag(:scenarios, options_from_collection_for_select(Scenario.all, :id, :name))
  %div= submit_tag("Rate")

%Rate stocks in a Watchlist
%ul
-@watchlists.each do |wl|
  %li
    = link_to wl.name,:controller => 'stocks', :action => 'populate_watchlist', :id => wl.id
%table
  %tr
    %th Stock
    - if @stock_results != nil and @stock_results[0] != nil
      - @stock_results[0].scenario.scenarioCriterions.each do |sc| 
        %th= sc.criterion.name 
    %th Score
    %th Add

  - if @stock_results != nil
    - @stock_results.each do |stock|
      %tr
        %td= stock.stock_symbol
        - stock.scenario.scenarioCriterions.each do |sc| 
          %td
            = sprintf('%.1f', sc.criterion.raw_value)
            |
            = sprintf('%.1f', sc.criterion.normalized_value)
            |
            = sprintf('%.1f', sc.weighted_value)
        %td= sprintf('%.1f', stock.score)
        %td= link_to 'Add to favorites',:controller => 'watch_lists', :action => 'add_to_favorites', :stock => stock.stock_symbol
 
%br
 



