%html
  %head
    %title 
      = yield :title 
    = stylesheet_link_tag    "style"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Tangerine"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" 
    <script src="/application.js"></script>
    = csrf_meta_tags 
  %body
    %div#wrapper
      %div#header
        %div#logo
          %h1 stock picker
        %div#search
        %div#menu
          %ul
            %li
              = link_to 'rate stocks', '/'
            %li
              = link_to 'charts',  :controller => 'stocks', :action => 'charts' 
            %li
              = link_to 'scenarios', scenarios_path 
            %li
              = link_to 'criterions', criterions_path 
            %li
              = link_to 'watchlists', watch_lists_path 
            %li
              = link_to 'check criterions', :controller => 'criterions', :action => 'check_criterions' 

      %div#page
        = flash[:notice]
        = yield 

